  <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{active}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <ul class="navbar-nav bg-dark">
      <li class="nav-item">
        <a class="nav-link" href="temperature">Temperature</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="light">Light</a>
      </li>
    </ul>
    </div>
  </div>
